# Profile G12 — G1 / G2 / G5（热加组 + URL 选组）
select-group-by-url = true
auto-select-group = true
config-per-group = /etc/ocserv/config-per-group/
auth = "radius[config=/etc/radcli/radiusclient.conf,nas-identifier=pop-default]"
